/* Nav Styles */
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul{
    display: flex;
    align-items: center;
}

.text-primary{
    color: #FD6E0A;
}

.text-secondary{
    color: #474747;
    font-size: 20px;
}

.hire-btn{
    font-weight: bold;
    font-size: 20px;
    padding: 20px 35px;
    background-color: #FD6E0A;
    color: white;
    border: none;
    border-radius: 5px;
}

.nav-title{ 
    font-size: 45px;
    font-weight: 800px;
}

nav li{ 
    list-style: none;
    margin-right: 50px;
}

nav a{
    text-decoration: none ;
}
